<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Users</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          *ngFor="let user of users"
          (click)="select.emit(user)"
          class="record"
        >
          <h3 mat-line>{{ user.first_name }} {{ user.last_name }}</h3>
          <p mat-line>
            {{ user.username }}
          </p>
          <p>
            {{ user.email }}
          </p>
          <button
            *ngIf="!readonly"
            mat-icon-button
            (click)="delete.emit(user); $event.stopImmediatePropagation()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  