table {
  width: 70%;
  margin: auto;
}

.mat-button-base {
  margin: 8px 8px 8px 0;
}

.field-input-container {
  display: flex;
  flex-flow: column;
  padding: 0px 80px 48px 80px;
  padding-top: 0px;
}